.card-l {
  width: 746px;
height: 372px;
top: 385px;
left: 113px;
gap: 0px;
opacity: 0px;
}

.card-s{
  width: 364px;
  height: 373px;
  top: 385px;
  left: 931px;
  gap: 0px;
  opacity: 0px;
  
}

.box-shadow{
  box-shadow: -3px 5px 5px 0px #00000030 inset;

}

